*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center; 
    margin: 0;
    font-size: 2.5em; 
}

.imagen-index img {
    display: block; 
    max-width: 80%; 
    height: auto; 
    margin: 20px auto 0; 
}

.formulario-div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 80vh; 
}

.formulario {
    width: 100%;
    max-width: 600px; 
    background-color: #F9ECCC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
}

legend {
    text-align: center;
    font-size: 1.5em;
    margin-top: 15px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form-group:last-child {
    text-align: center; 
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.barbero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.barbero-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; 
    text-align: center; 
}
.barbero-img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.checkbox-group {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}
.Boton-turno {
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: block; 
    margin: 20px auto; 
}

.Boton-turno a {
    color: white;
    text-decoration: none;
}

.Boton-turno:hover {
    background-color: #0056b3;
}

#contenedor-turnos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 80%;
    max-width: 1200px;
}

.turnos {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}
p {
    margin: 5px 0;
    color: #555;
}
strong {
    color: #333;
}
.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9ECCC;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.cuadro p {
    font-size: 20px; 
    font-weight: bold;
}
.boton-principal{
    margin-top: 20px; 
    background-color: green;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.boton-principal:hover{
    background-color: #0056b3;
}
.boton-principal a{
    text-decoration: none;
    color: white;
}
#socios-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
    justify-content: center; 
  }
  .socio-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: 200px; 
    background-color: #f9f9f9;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }
  .socio-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .socio-card p {
    margin: 5px 0;
  } 
.header-container {
    display: flex;
    justify-content: flex-start; 
    padding: 20px; 
}
.header-container-socios{
    display: flex;
    justify-content: flex-end; 
}
#verSocios {
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#verSocios a {
    color: white;
    text-decoration: none;
}
#verSocios:hover {
    background-color: #0056b3;
}
#volver {
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#volver a {
    color: white;
    text-decoration: none;
}
#volver:hover {
    background-color: #0056b3;
}
